/*
Name: Zoe Barger
Date: 02/16/2025
File name: styles.css
*/

body, header, nav, main, footer, img, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0; 
  }

  /* Style rules for header */
  h1 {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Impact', monospace;
    padding: 2%;
    font-size: 5em;
  }
  h2 {
    color: #de638a;
    text-decoration: none;
    font-style: italic;
    font-family: 'Courier New', monospace;
    padding: 1% 2%;
  }

  /* Style rules for body and images */
  body {
    background-color: #faf0e6;
  }
  
  img {
    max-width: 100%;
    display: block;
    padding: 2%;
  }

  /* Style rules for navigation area */
  nav {
    background-color: #de638a; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center; 
  }
  
  nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bold;
  }

  /* Style rules for main content */
  main {
    padding: 2%;
    font-family: 'Courier New', monospace;
  }

 main p {
    font-size: 1.25em;
 }

 main ul {
    list-style: square;
 }
  
 /* Style rules for class and id selectors */
 .link {
    color: #ffb6c1;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
 }

 #contact {
    text-align: center;
 }

 /* Style rules for footer content */
 footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #de638a;
    color: #faf0e6;
    padding: 1% 0;
    font-family: 'Courier New', monospace;
  }
  
  footer a {
    color: #faf0e6;
    text-decoration: none;
  }

  nav li a {
    display: block; 
    color: #faf0e6; 
    padding: 0.5em 2em;
    text-decoration: none; 
  }